.carrosel__titulo{
    color: aqua;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 18PX;
    font-weight: 700PX;
    padding: 1EM 0 0.5em 0;
}